/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --main: #f1f1f1;
  --primary: #dad7cd;
  --column: grey;
  --btn: burlywood;
}
body {
  background: var(--main);
  margin: 0;
  font-family: "Poppins";
}
  .select-style {
    width: 12rem;
    border-radius: 2rem;
    overflow: hidden;
    font-size: 0.2rem;
    background: #dad7cd  no-repeat 90% 50%;
    margin-left: 5rem;
  }
  
  .select-style select {
    padding: 0.2rem 0.3rem;
    width: 130%;
    font-size: 1.2rem;
    border: none;
    box-shadow: none;
    background: var(--primary);    
    background-image: none;
    text-align: left;
  }
  
  .select-style select:focus {
    outline: none;
  }
  
  .select-style option{
    font-size: 1rem;
  }
  
  .customers {
    font-family: "Poppins" Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--column);
    color: white;
  }
  
  button {
    
    /*width: 10rem;
    height: 3rem;
    font-size: 1rem;
    border: 1rem; */
    background-color: var(--btn);
    padding: 0.8rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3rem;
  }
  
  input{
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    margin-right: 1rem;
  }
  label{
    margin-left: 2rem;
    margin-right: 1rem;
  }